/*:root {
  --main-green: #708a65;
}*/

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 1240px;
  margin: 3rem auto;
  background: linear-gradient(
      180deg,
      rgba(176, 170, 170, 0.2) -7.66%,
      rgba(176, 170, 170, 0.05) 100%
    ),
    #f7f7f7;
  padding: 3rem 15rem 3rem 15rem;
}

.inputnErrorContainer {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.inputnErrorContainer .validMarker {
  width: 8px;
  height: 39px;
  background: linear-gradient(#78f8c7 0%, #4af3b2 100%);
  border-radius: 2px;
  border: 1px solid #495c5888;
}

.inputnErrorContainer .errorMarker {
  width: 8px;
  height: 39px;
  background: linear-gradient(#f35a62 0%, #f04b53 100%);
  border-radius: 2px;
  border: 1px solid #495c5888;
}

.loginBtn {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  background: #58756f;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 0.35rem 0.5rem;
  outline-color: #495c58;
  outline-width: 1px;
  margin-top: 2rem;
}

.loginBtn:hover {
  box-shadow: 0 4px 8px #749c9266;
  background: #688d86;
}

input,
button {
  padding: 0.35rem 0.5rem;
  outline-color: #58756f;
  outline-width: 1px;
  position: relative;
  /*background-color: #ffffffaa;*/
}

input[type="text"] {
  flex: 1 1 100%;
}

/*.ng-valid:not(form) {
  border: 1px solid #58756f;
  outline-width: 2px;
  border-radius: 4px;
  overflow: hidden;
  border-right: 8px solid #78db4d;
}

.ng-invalid:not(form) {
  border: 1px solid #58756f;
  outline-width: 2px;
  border-radius: 4px;
  overflow: hidden;
  border-right: 8px solid #c5224b;
  position: relative;
}*/
