<!-- 
    ngif : helps to get rid of the alert thrown when trying to access editedRetal.description that could be undef
    #rentalForm="ngform" : https://angular.io/guide/template-reference-variables#using-ngform-with-template-variables
    since #rentalForm="ngform" rentalForm template reference is not <form> but the ngForm directive 
-->
<form *ngIf="editedRental" (ngSubmit)="onSubmit(rentalForm)" #rentalForm="ngForm"> 

    <section class="galleryContainer">
        <label>Gallerie</label> <!-- switch to hx -->
        <div class="gallery" #gallery>
            <figure style="position:relative;" *ngFor="let img of editedRental.pictures">
                <img [src]="APIAsSource ? serverBaseUrl+'pics/locs/'+img : 'assets/'+img" [crossOrigin]="APIAsSource ? 'anonymous' : ''"/>
                <button (click)="deleteImg(img)" class="delImgButton">
                    <svg style="height:80%; width:75%;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#FFFFFF"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                </button>
            </figure>
            <app-file-upload (fileUploaded)="whenFileUploaded($event.data)"></app-file-upload>
        </div>
    </section>

    <div class="labelErrorContainer">
        <label for="host">Host</label>
        <p [hidden]="host.valid || host.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <div class="inputContainer">
        <input (focus)="setInputContainerAsFocused($event, true)" (blur)="setInputContainerAsFocused($event, false)" style="border:none; outline: none;" id="host" name="host" pattern="^[0-9]{1,50}$"
        [(ngModel)]="editedRental.host.id" 
        #host="ngModel" required/>
        <div [hidden]="host.valid || host.pristine" class="inputValidStatus"></div>
    </div>
    
    <!-- title.valid & title.pristine refer to #title -->
    <div class="labelErrorContainer">
        <label for="title">Title</label>
        <p [hidden]="title.valid || title.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <div class="inputContainer">
        <input (focus)="setInputContainerAsFocused($event, true)" (blur)="setInputContainerAsFocused($event, false)" style="border:none; outline: none;" id="title" name="title" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ',;. ()-]{1,50}$"
        [(ngModel)]="editedRental.title" 
        #title="ngModel" required/>
        <div [hidden]="title.valid || title.pristine" class="inputValidStatus"></div>
    </div>

    <div class="labelErrorContainer">
        <label for="location">Location</label>
        <p [hidden]="location.valid || location.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <div class="inputContainer">
        <input (focus)="setInputContainerAsFocused($event, true)" (blur)="setInputContainerAsFocused($event, false)" style="border:none; outline: none;" id="location" name="location" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ',;. ()-]{1,30}$"
        [(ngModel)]="editedRental.location"
        #location="ngModel" required/>
        <div [hidden]="location.valid || location.pristine" class="inputValidStatus"></div>
    </div>

    <div class="labelErrorContainer">
        <label for="description">Description</label>
        <p [hidden]="description.valid || description.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <textarea id="description" name="description" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ',;.: ()?!-]{1,400}$"
    [(ngModel)]="editedRental.description" 
    #description="ngModel" rows="6" required></textarea>

    <!-- 
        In this example, the #nameInput is a template reference variable that is bound to the ngModel directive. 
        The [(ngModel)]="name" syntax is used for two-way data binding, where the value of the input field is bound 
        to the name property of the component.

        >> ie : bind nameInput.value to component.property aka this.property

        The nameInput template reference variable can be used to access properties and methods of the ngModel directive in the component's code. 
        
        By using the #componentname="ngModel" syntax, you can reference the ngModel directive and interact with it in your template 
        or component code. This can be useful for performing validation, accessing the state of the form control, 
        or triggering actions based on user input.

        The [] syntax is used for one-way data binding, while the () syntax is used for event binding. 
        The combination of [] and () is used for two-way data binding

        <input [(ngModel)]="name" type="text">
        The [(ngModel)] syntax is a shorthand for [ngModel]="name" (ngModelChange)="name=$event"
    -->

    <div style="display: flex; flex-direction: row; column-gap: 4rem;">
        <div style="display: flex; flex-direction: column; flex:1 1 50%; row-gap: 1rem;">
            <label>Equipements</label> <!-- switch to hx -->
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;" *ngFor="let equipment of editedRental.equipments; let i = index">
                <!-- using the same name for each input, angular will create by itself an array -->
                <div style="width: 100%; flex-shrink: 1;" class="inputContainer">
                    <input readonly style="border:none; outline: none; display:flex; width: 100%; flex-shrink: 1;" id="{{'equipment'+i.toString()}}" name="{{'equipment'+i.toString()}}" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ ()'-]{1,30}$"
                    [(ngModel)]="editedRental.equipments[i]"/>
                </div>
                <button class="delButton" type="button" (click)="removeEquipment(editedRental.equipments[i])">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#FFFFFF"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                </button>
            </div>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;">
                <div style="width: 100%; flex-shrink: 1;" class="inputContainer">
                    <input (focus)="setInputContainerAsFocused($event, true)" (blur)="setInputContainerAsFocused($event, false)" (keyup.enter)="addEquipment(newEquipment.value)" id="newEquipment" name="newEquipment" style="display:flex; width: 100%; flex-shrink: 1;" #newEquipment/>
                    <!--<div class="inputValidStatus"></div>-->
                </div>
                <button class="delButton" type="button" (click)="addEquipment(newEquipment.value)">
                    <svg style="width:80%;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#FFFFFF"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                </button>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; flex:1 1 50%; row-gap: 1rem;">
            <label>Tags</label> <!-- switch to hx -->
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;" *ngFor="let tag of editedRental.tags; let i = index" id="{{'tag'+i.toString()}}">
                <div style="width: 100%; flex-shrink: 1;" class="inputContainer">
                    <input readonly style="border:none; outline: none; display:flex; width: 100%; flex-shrink: 1;" id="{{'tag'+i.toString()}}" name="{{'tag'+i.toString()}}" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ ()'-]{1,30}$"
                    [(ngModel)]="editedRental.tags[i]"/>
                </div>
                <!--<div class="validityIndicator"></div>-->
                <button class="delButton" type="button" (click)="removeTag(editedRental.tags[i])">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#FFFFFF"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                </button>
            </div>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;">
                <div style="width: 100%; flex-shrink: 1;" class="inputContainer">
                    <input (focus)="setInputContainerAsFocused($event, true)" (blur)="setInputContainerAsFocused($event, false)" (keyup.enter)="addTag(newTag.value)" id="newTag" name="newTag" style="display:flex; width: 100%; flex-shrink: 1;" #newTag>
                </div>
                <button class="delButton" type="button" (click)="addTag(newTag.value)">
                    <svg style="width:80%;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#FFFFFF"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                </button>
            </div>
        </div>
    </div>

    <div class="cancelSubmitContainer">
        <a role="button" id="cancelBtn" href='/rental/{{rentalId}}'>Retour à l'Annonce</a>
        <button type="submit" id="submitBtn" class="saveButton" [disabled]="!rentalForm.form.valid">Sauvegarder les Modifications</button>
    </div>
</form>

<!-- [disabled]="!rentalForm.form.valid" -->