<!-- 
    ngif : helps to get rid of the alert thrown when trying to access editedRetal.description that could be undef
    #rentalForm="ngform" : https://angular.io/guide/template-reference-variables#using-ngform-with-template-variables
    since #rentalForm="ngform" rentalForm template reference is not <form> but the ngForm directive 
-->
<form *ngIf="editedRental" (ngSubmit)="onSubmit(rentalForm)" #rentalForm="ngForm"> 

    <section class="galleryContainer">
        <label>Gallerie</label> <!-- switch to hx -->
        <div class="gallery" #gallery>
            <figure style="position:relative;" *ngFor="let img of editedRental.pictures">
                <img [src]="APIAsSource ? serverBaseUrl+'pics/locs/'+img : 'assets/'+img"/>
                <button (click)="deleteImg(img)" class="delImgButton">X</button>
            </figure>
            <article>
                <button class="delButton" style="height:40px; width: 41px;">+</button>
                <span>Click to Add</span>
                <span>A new Picture</span>
            </article>
        </div>
    </section>

    <div class="labelErrorContainer">
        <label for="host">Host</label>
        <p [hidden]="host.valid || host.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <input id="host" name="host" pattern="^[0-9]{1,50}$"
    [(ngModel)]="editedRental.host.id" 
    #host="ngModel" required/>
    
    <!-- title.valid & title.pristine refer to #title -->
    <div class="labelErrorContainer">
        <label for="title">Title</label>
        <p [hidden]="title.valid || title.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <input id="title" name="title" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ',;. ()-]{1,50}$"
    [(ngModel)]="editedRental.title" 
    #title="ngModel" required/>

    <div class="labelErrorContainer">
        <label for="location">Location</label>
        <p [hidden]="location.valid || location.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <input id="location" name="location" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ',;. ()-]{1,30}$"
    [(ngModel)]="editedRental.location"
    #location="ngModel" required/>

    <div class="labelErrorContainer">
        <label for="description">Description</label>
        <p [hidden]="description.valid || description.pristine" class="errorMessage">Utilisation de caractères invalides</p>
    </div>
    <textarea id="description" name="description" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ',;.: ()?!-]{1,400}$"
    [(ngModel)]="editedRental.description" 
    #description="ngModel" rows="6" required></textarea>

    <!-- 
        In this example, the #nameInput is a template reference variable that is bound to the ngModel directive. 
        The [(ngModel)]="name" syntax is used for two-way data binding, where the value of the input field is bound 
        to the name property of the component.

        >> ie : bind nameInput.value to component.property aka this.property

        The nameInput template reference variable can be used to access properties and methods of the ngModel directive in the component's code. 
        
        By using the #componentname="ngModel" syntax, you can reference the ngModel directive and interact with it in your template 
        or component code. This can be useful for performing validation, accessing the state of the form control, 
        or triggering actions based on user input.

        The [] syntax is used for one-way data binding, while the () syntax is used for event binding. 
        The combination of [] and () is used for two-way data binding

        <input [(ngModel)]="name" type="text">
        The [(ngModel)] syntax is a shorthand for [ngModel]="name" (ngModelChange)="name=$event"
    -->

    <div style="display: flex; flex-direction: row; column-gap: 4rem;">
        <div style="display: flex; flex-direction: column; flex:1 1 50%; row-gap: 1rem;">
            <label>Equipements</label> <!-- switch to hx -->
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;" *ngFor="let equipment of editedRental.equipments; let i = index">
                <!-- using the same name for each input, angular will create by itself an array -->
                <input readonly style="display:flex; width: 100%; flex-shrink: 1;" id="{{'equipment'+i.toString()}}" name="{{'equipment'+i.toString()}}" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ ()'-]{1,30}$"
                [(ngModel)]="editedRental.equipments[i]"/>
                <button class="delButton" type="button" (click)="removeEquipment(editedRental.equipments[i])">x</button>
            </div>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;">
                <input (keyup.enter)="addEquipment(newEquipment.value)" id="newEquipment" name="newEquipment" style="display:flex; width: 100%; flex-shrink: 1;" #newEquipment/>
                <button class="delButton" type="button" (click)="addEquipment(newEquipment.value)">+</button>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; flex:1 1 50%; row-gap: 1rem;">
            <label>Tags</label> <!-- switch to hx -->
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;" *ngFor="let tag of editedRental.tags; let i = index" id="{{'tag'+i.toString()}}">
                <input readonly style="display:flex; width: 100%; flex-shrink: 1;" id="{{'tag'+i.toString()}}" name="{{'tag'+i.toString()}}" pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ ()'-]{1,30}$"
                [(ngModel)]="editedRental.tags[i]"/>
                <!--<div class="validityIndicator"></div>-->
                <button class="delButton" type="button" (click)="removeTag(editedRental.tags[i])">x</button>
            </div>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;">
                <input (keyup.enter)="addTag(newTag.value)" id="newTag" name="newTag" style="display:flex; width: 100%; flex-shrink: 1;" #newTag>
                <button class="delButton" type="button" (click)="addTag(newTag.value)">+</button>
            </div>
        </div>
    </div>

    <div class="cancelSubmitContainer">
        <a role="button" id="cancelBtn" href='/rental/{{rentalId}}'>Retour à l'Annonce</a>
        <button type="submit" id="submitBtn" class="saveButton" [disabled]="!rentalForm.form.valid">Sauvegarder les Modifications</button>
    </div>
</form>

<!-- [disabled]="!rentalForm.form.valid" -->