form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 1240px;
  margin: 3rem auto;
  background: linear-gradient(
      180deg,
      rgba(176, 170, 170, 0.4) -7.66%,
      rgba(176, 170, 170, 0) 100%
    ),
    #f7f7f7;
  padding: 3rem 5rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.35rem 0.5rem;
}

input[type="button"] {
  background-color: #5a6c52;
  color: #fff;
  font-weight: 600;
}

input[type="button"]:hover {
  background-color: #708a65;
}

label {
  font-weight: 600;
}

p.errorMessage {
  color: rgb(179, 47, 91);
}

.labelErrorContainer {
  display: flex;
  justify-content: space-between;
}
