form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 1240px;
  margin: 3rem auto;
  background: linear-gradient(
      180deg,
      rgba(176, 170, 170, 0.2) -7.66%,
      rgba(176, 170, 170, 0.05) 100%
    ),
    #f7f7f7;
  padding: 3rem 5rem;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}

.gallery figure {
  flex: 1 1 30%;
  max-width: calc((100% - 48px) / 3);
  height: 260px;
  border: 1px solid #5a6c52;
}

.gallery article {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: calc((100% - 48px) / 3);
  height: 260px;
  border: 1px solid #5a6c52;
  background-color: #ffffffaa;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery .delImgButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1px 0 0 1px;
  width: 32px;
  height: 32px;
  right: 0.5rem;
  bottom: 0.5rem;
  margin: 0;
  background-color: #5a6c52;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.gallery figure:hover,
.gallery article:hover {
  /*border: 1px solid #708a65;*/
  box-shadow: 0 16px 32px #3e4b3933, 0 8px 16px #708a6566;
  background-color: #ffffffff;
  transform: scale(1.025);
  transition: all 0.2s ease-in;
  overflow: hidden;
}

.gallery figure:hover .delImgButton {
  background-color: #708a65;
  box-shadow: 0 2px 4px #00000066;
}

.gallery img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery figure:hover img {
  filter: brightness(110%);
}

input,
button {
  margin-bottom: 1rem;
  padding: 0.35rem 0.5rem;
  outline-color: #708a65;
  outline-width: 1px;
  /*background-color: #ffffffaa;*/
}

input[type="button"],
button {
  background-color: #5a6c52;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button.delButton {
  width: 42px;
}

button.saveButton {
  height: 40px;
  margin-top: 2rem;
}

button:hover {
  background-color: #708a65;
  box-shadow: 0 4px 8px #708a6566;
}

label {
  font-weight: 600;
}

p.errorMessage {
  color: rgb(179, 47, 91);
}

.labelErrorContainer {
  display: flex;
  justify-content: space-between;
}
