<!-- ngif : helps to get rid of the alert thrown when trying to access editedRetal.description that could be undef -->
<!-- #rentalForm="ngform" : https://angular.io/guide/template-reference-variables#using-ngform-with-template-variables -->
<!-- since #rentalForm="ngform" rentalForm template ref is not <form> but the ngForm directive -->
<form *ngIf="editedRental" (ngSubmit)="onSubmit()" #rentalForm="ngForm"> 
    
    <!-- title.valid & title.pristine refer to #title -->
    <div class="labelErrorContainer"><label for="title">Title</label><p [hidden]="title.valid || title.pristine" class="errorMessage">Error Message</p></div>
    <input id="title" name="title" pattern="^[a-zA-Z0-9èéàïîêôöùûç',;. -]{1,50}$"
    [(ngModel)]="editedRental.title" 
    #title="ngModel" required/>

    <div class="labelErrorContainer"><label for="location">Location</label><p [hidden]="location.valid || location.pristine" class="errorMessage">Error Message</p></div>
    <input id="location" name="location" pattern="^[a-zA-Z0-9èéàïîêôöùûç',;. -]{1,30}$"
    [(ngModel)]="editedRental.location"
    #location="ngModel" required/>

    <div class="labelErrorContainer"><label for="description">Description</label><p [hidden]="description.valid || description.pristine" class="errorMessage">Error Message</p></div>
    <input id="description" name="description" pattern="^[a-zA-Z0-9èéàïîêôöùûç',;. -]{1,400}$"
    [(ngModel)]="editedRental.description" 
    #description="ngModel" required/>

    <div style="display: flex; flex-direction: row; column-gap: 4rem;">
        <div style="display: flex; flex-direction: column; flex:1 1 50%; row-gap: 1rem;">
            <label>Equipements</label>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;" *ngFor="let equipment of editedRental.equipments; let i = index">
                <input style="display:flex; width: 100%; flex-shrink: 1;" id="{{'equipement'+i.toString()}}" name="{{'equipement'+i.toString()}}" pattern="^[a-zA-Zèéàèïîêôöùûç -]{1,30}$"
                [(ngModel)]="editedRental.equipments[i]" required/>
                <input type="button" (click)="removeEquipment(editedRental.tags[i])" value="x"/>
            </div>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;">
                <input id="newEquipment" name="newEquipment" style="display:flex; width: 100%; flex-shrink: 1;" pattern="^[a-zA-Zèéàèïîêôöùûç -]{1,30}$" #newEquipment/>
                <input type="button" (click)="addEquipment(newEquipment.value)" value="+"/>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; flex:1 1 50%; row-gap: 1rem;">
            <label>Tags</label>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;" *ngFor="let tag of editedRental.tags; let i = index" id="{{'tag'+i.toString()}}">
                <input style="display:flex; width: 100%; flex-shrink: 1;" name="{{'tag'+i.toString()}}" pattern="^[a-zA-Zèéàèïîêôöùûç -]{1,30}$"
                [(ngModel)]="editedRental.tags[i]" required/>
                <input type="button" (click)="removeTag(editedRental.tags[i])" value="x"/>
            </div>
            <div style="display:flex; width: 100%; flex-direction: row; column-gap: 1rem;">
                <input id="newTag" name="newTag" style="display:flex; width: 100%; flex-shrink: 1;" pattern="^[a-zA-Zèéàèïîêôöùûç -]{1,30}$" #newTag>
                <input type="button" (click)="addTag(newTag.value)" value="+"/>
            </div>
        </div>
    </div>

    <input type="button" value="Modifier"/>
</form>
