form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 1240px;
  margin: 2rem auto;
}

input {
  margin-bottom: 1rem;
  padding: 0.35rem 0.5rem;
}

label {
  font-weight: 600;
}

p.errorMessage {
  color: rgb(179, 47, 91);
}

.labelErrorContainer {
  display: flex;
  justify-content: space-between;
}
