<main *ngIf="activeRental" class='main-rental'> <!-- only displayed if activeRental != undefined -->
    <section class='slideshow'>
        <img data-testid="slideshowImg" [src]="'/assets/'+activeRental.pictures[activeImg]" alt="temp"/>
        <div class="buttons-container"> 
            <div *ngIf="activeRental.pictures.length>1" (click)="prevImg()" data-testid="slideshowLeftArrow"><img id="prevArrow" src="/assets/arrow-right.svg" alt="arrow previous" /></div>
            <div *ngIf="activeRental.pictures.length>1" (click)="nextImg()" data-testid="slideshowRightArrow"><img src="/assets/arrow-right.svg" alt="arrow next" /></div>
            <span class="index">{{activeImg+1}}/{{activeRental.pictures.length}}</span>
        </div>
    </section>

    <p style="display:flex; justify-content: flex-end; margin-top: 2rem;">
        <a style="display: flex; justify-content: center; align-items: center; background: #5a6c52; font-size: 14px; color:#fff; font-weight: 400; padding:0.32rem 0.75rem 0.3rem 0.75rem; border-radius: 6px;" routerLink="/rental/edit/{{rentalId}}">Editer cette Location</a>
    </p>

    <section data-testid="rentalDetails" id="rentalDetails">
        <div id="headingsNtags">
          <h1>{{activeRental.title}}</h1>
          <p>{{activeRental.location}}</p>
          <div class="tagsContainer">
            <span class="tag" *ngFor="let tag of activeRental.tags">{{tag}}</span>
          </div>
        </div>
        <div id="ownerNratings">
            <div class="hostContainer">
                <p>{{rentalOwner.firstname}}<br>{{rentalOwner.lastname}}</p>
                <img src={{activeRental.host.picture}} alt="host portrait" />
            </div>
            <div class="starsContainer">
                <!--<img data-testid={props.src === "redstar" ? "redstar" : "greystar"} className={props.src === "redstar" ? "star-red" : "star-grey"} src={props.src === "redstar" ? redstar : greystar} alt="positive star" />-->
                <img *ngFor="let _ of [].constructor(activeRentalRating)" class="redstar" src="/assets/redstar.svg" alt="positive star" />
                <img *ngFor="let _ of [].constructor(5-activeRentalRating)" class="greystar" src="/assets/greystar.svg" alt="negative star" />
            </div>
        </div>
    </section>
    <section id="collapsesContainer">
        <article class="collapse">
            <div class="collapse__heading" (click)="switchCollapse('description')">
                <div>Description</div><img [src]="descriptionCollapsed ? '/assets/collapse-up.svg' : '/assets/collapse-down.svg'" alt="arrow" />
            </div>
            <div *ngIf="descriptionCollapsed" class='collapse__body'>
                {{activeRental.description}}
            </div>
        </article>
        <article class="collapse">
            <div class="collapse__heading" (click)="switchCollapse('equipements')">
                <div>Equipements</div><img [src]="equipementsCollapsed ? '/assets/collapse-up.svg' : '/assets/collapse-down.svg'" alt="arrow" />
            </div>
            <div *ngIf="equipementsCollapsed" class='collapse__body'>
                <ul>
                    <li *ngFor="let equipment of activeRental.equipments">
                        {{equipment}}
                    </li>
                </ul>
            </div>
        </article>
    </section>
</main>