<main class='main-rental'>
    <section class='slideshow'>
        <img data-testid="slideshowImg" [src]="activeRental.pictures[activeImg]" alt="temp"/>
        <div class="buttons-container"> 
            <div (click)="prevImg()" data-testid="slideshowLeftArrow"><img id="prevArrow" src="../../assets/arrow-right.svg" alt="arrow previous" /></div>
            <div (click)="nextImg()" data-testid="slideshowRightArrow"><img src="../../assets/arrow-right.svg" alt="arrow next" /></div>
            <span class="index">{{activeImg+1}}/{{activeRental.pictures.length}}</span>
        </div>
    </section>
    <section data-testid="rentalDetails" id="rentalDetails">
        <div id="headingsNtags">
          <h1>{{activeRental.title}}</h1>
          <p>{{activeRental.location}}</p>
          <span class="tag"></span>
        </div>
        <div id="ownerNratings">
            <div class="hostContainer">
                <p>{{rentalOwner.firstname}}<br><br>{{rentalOwner.lastname}}</p>
                <img src={{activeRental.host.picture}} alt="host portrait" />
            </div>
            <div class="starsContainer">
            </div>
        </div>
    </section>
</main>