article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  background-color: #ffffffaa;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px #3e4b3911, 0 4px 8px #749c9233;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
}

label {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.75rem;
  font-weight: 600;
}

label svg {
  height: 48px;
}

article:hover {
  box-shadow: 0 4px 8px #3e4b3933, 0 16px 32px #749c9255;
  transform: scale(1.05);
  transition: all 0.2s ease-in;
  overflow: hidden;
}
